.sidebar {
    color: white;
    background-color: rgb(39, 37, 37);
    padding-top: 20px;
    font-size: 20px;
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px; /* Fixed width for medium and larger screens */

    /* Additional styles */
    padding-left: 15px; /* Add left padding for sidebar content */
}

.sidebar a {
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    display: block;
}

.content {
    padding: 20px;
    margin-left: 250px; /* Adjust this margin to match sidebar width */
}

.card {
    background-color: rgb(179, 179, 179);
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px; /* Add bottom margin between cards */
}

.card-title {
    font-size: 1.5rem;
    color: #333;
}

.card-text {
    color: #555;
}

@media (max-width: 992px) {
    .sidebar {
        width: 100%; /* Full width on smaller screens */
        position: static; /* Remove fixed positioning */
        height: auto; /* Allow sidebar height to adjust based on content */
    }
    
    .content {
        margin-left: 0; /* Remove left margin on smaller screens */
        padding-top: 80px; /* Provide space below fixed navbar */
    }
    
    .card-title {
        font-size: 1.2rem; /* Adjust font size for smaller screens */
    }
}